@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

$maincolor: #a6163f;
$gray: rgba(60, 60, 59, 0.5);
$fontfamily: "Montserrat";
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside, section{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-family: $fontfamily;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: $fontfamily;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container{
  max-width: 1700px;
  margin: 0 auto;
  @media (max-width: 1700px) {	
		max-width: 1500px;	
	};
  @media (max-width: 1500px) {	
		max-width: 1300px;	
	};
  @media (max-width: 1300px) {	
		max-width: 1000px;	
	};
  @media (max-width: 1000px) {	
		max-width: 768px;	
	};
  @media (max-width: 768px) {	
		max-width: 576px;	
	};
  @media (max-width: 576px) {	
		max-width: 320px;	
	};
}

// header css
  .logo{
    max-width: 360px;
    padding: 30px 0 0 40px;
    @media(max-width: 576px){
      padding: 0;
    }
  }
  .mainLogo{
    @media(max-width: 700px){
      margin: 0 auto;
      margin-bottom: 40px;
    }
  }
iframe{
  @media (max-width: 1000px) {	
    width: 400px;
    height: 215px;
  };
  @media(max-width: 576px) {
    width: 100%;
    height: auto;
  };
  
}
//main css
main{
  .standarts{
    &_top{
      display: flex;
      align-items: center;
      margin-left: 130px;
      justify-content: space-between;
      margin-bottom: 90px;
      @media (max-width: 1300px) {	
        margin-left: 60px;	
      };
      @media (max-width: 1000px) {	
       justify-content: space-around;
      };
      @media (max-width: 910px) {	
        flex-wrap: wrap;
       };
       @media (max-width: 576px) {	
        margin-left: 0;
        margin-bottom: 45px;
       };
    }
    &_video{
      @media (max-width: 910px) {	
        width: 100%;
        text-align: center;
       };
    }
    &_top-title{
      font-weight: 700;
      font-size: 59px;
      width: 49%;
      line-height: 1.1;
      @media (max-width: 1700px) {	
        font-size: 54px;	
      };
      @media (max-width: 1500px) {	
        font-size: 45px;	
      };
      @media (max-width: 1300px) {	
        font-size: 25px;
        width: 36%;	
      };
      @media (max-width: 910px) {	
        margin-bottom: 45px;
        font-size: 18px;
      };
      @media(max-width: 700px){
        width: 100%;
        text-align: center;
      }
      p:last-child{
        text-align: right;
        @media(max-width: 700px){
          text-align: inherit;
        }
      }
    }
    &_bottom{
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
      @media (max-width: 576px) {	
        flex-wrap: wrap;
      };
    }
    &_bottom-block{
      width: 43%;
      @media (max-width: 1300px) {	
        width: 45%;
      };
      @media (max-width: 576px) {	
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
      };
    }
    &_bottom-title{
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 50px;
      text-align: center;
      line-height: 1.2;
      @media (max-width: 1000px) {	
        font-size: 22px;	
      };
      @media (max-width: 768px) {	
        font-size: 18px;
        margin-bottom: 25px;	
      };
    }
    &_bottom-text{
      font-weight: 700;
      font-size: 28px;
      color: #395382;
      line-height: 1.2;
      @media (max-width: 1000px) {	
        font-size: 20px;	
      };
      @media (max-width: 768px) {	
        font-size: 16px;	
      };
      .standarts_bottom-text_item{
        margin-bottom: 15px;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          background-color: #395382;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          left: -5%;
          top: 25%;
        }
      }
    }
    &_download{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 90px;
      &-title{
        font-weight: 300;
        font-size: 49px;
        margin-bottom: 60px;
        text-align: center;
        @media (max-width: 1300px) {
          font-size: 40px;
        }
        @media (max-width: 1000px) {
          font-size: 34px;
        }
        @media (max-width: 768px) {
          font-size: 25px;
        }
      }
      &-links{
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 768px) {
          flex-wrap: wrap;
        }
      }
      &-link{
        @media (max-width: 768px) {
          width: 100%;
          text-align: center;
          margin-bottom: 25px;
        }
      }
    }
    &_mainblock{
      margin-bottom: 90px;
      

      &-title{
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 90px;
        text-align: center;
      }
      &-column_block{
        font-weight: 700;
        margin-bottom: 45px;
        &-title{
          color: #395382;
          font-weight: 700;
          margin-bottom: 10px;
          font-size: 28px;
          @media (max-width: 1000px) {
            font-size: 24px;
          }
        }
        &-text{
          width: 723px;
          background-color: #395382;
          color: white;
          padding: 25px 25px 50px 25px;
          font-size: 28px;
          border-radius: 5% 0 5% 0px;
          line-height: 1.2;
          @media (max-width: 1500px) {
            width: 600px;
          }
          @media (max-width: 1300px) {
            width: 450px;
            font-size: 20px;
          }
          @media (max-width: 1000px) {
            width: 350px;
            font-size: 15px;
          }
          @media (max-width: 768px) {
            padding: 15px 15px 25px 15px;
            font-size: 13px;
            width: 250px;
          }
        }
      }
    } 
    &_callback{
      margin-bottom: 90px;
      width: 700px;
      margin: 0 auto;
      &-btn{
        background-color:#395382;
        padding: 30px 100px;
        border-radius: 7% 0 7% 0px;
        width: 500px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 20px;
        @media(max-width:1000px){
          width: 400px;
        }
        @media(max-width:576px){
          width: 50%;
        }
        a{
          color: #fff;
          font-weight: 700;
          font-size: 28px;
          @media(max-width:1000px){
            font-size: 20px;
          }
          @media(max-width:576px){
            font-size: 17px;
            text-align: center;
          }
        }
      }
      &-text{
        font-weight: 700;
        font-size: 28px;
        color:#395382;
        margin: 0 auto;
        @media(max-width:1000px){
          font-size: 20px;
        }
        @media(max-width:768px){
          font-size: 17px;
        }
      }
    }
  } 
}

.footer{
  background-color:#395382;
  padding: 30px 0;
  &_content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    @media(max-width: 320px){
      flex-wrap: wrap;
    }
  }
  &_block{
    width: 22%;
    @media(max-width: 320px){
     width: 100%;
     margin-bottom: 50px;
    }
    &-text{
      font-weight: 700;
      font-size: 28px;
      color: #fff;
      text-align: center;
      @media(max-width:1300px) {
        font-size: 20px;
      }
      @media(max-width:1000px) {
        font-size: 15px;
      }
      @media(max-width:768px) {
        font-size: 12px;
      }
      @media(max-width:576px) {
        font-size: 9px;
      }
      @media(max-width: 320px){
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
    &:first-child{
      p{
        color:#000;
        margin-top: 35px;
      }
      
    }
  }
  .notation{
    display: flex;
    justify-content: space-between;
    @media(max-width: 320px){
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: center;
    }
    .year{
      font-weight: 300;
      font-size: 28px;
      margin-left: 8%;
      @media(max-width:1300px) {
        font-size: 20px;
      }
      @media(max-width:1000px) {
        font-size: 15px;
      }
      @media(max-width:768px) {
        font-size: 12px;
      }
      @media(max-width:576px) {
        font-size: 9px;
      }
      @media(max-width: 320px){
        font-size: 18px;
        margin-left: 0;
      }
    }
    .supp{
      font-weight: 300;
      font-size: 28px;
      margin-right: 5%;
      @media(max-width:1300px) {
        font-size: 20px;
      }
      @media(max-width:1000px) {
        font-size: 15px;
      }
      @media(max-width:768px) {
        font-size: 12px;
      }
      @media(max-width:576px) {
        font-size: 9px;
      }
      @media(max-width: 320px){
        font-size: 18px;
        margin-right: 0;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}



//slider


.slick-list{
  overflow: hidden;
}
.slick-track{
  display: flex;
}

.standarts_mainblock-content{
  position: relative;
  .slick-arrow{
    position: absolute;
    bottom: -5%;
    font-size: 0;
    width: 50px;
    height: 30px;
    z-index: 10;
  };
}

.slick-prev{
  left: 0;
  background: url('../images/right-arrow.svg') 0 0 no-repeat;
}
.slick-next{
  right: 0;
  background: url('../images/right-arrow.svg') 0 0 no-repeat;
  transform: rotate(180deg);
}
