@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Montserrat";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1500px;
  }
}

@media (max-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }
}

.logo {
  max-width: 360px;
  padding: 30px 0 0 40px;
}

@media (max-width: 576px) {
  .logo {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .mainLogo {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  iframe {
    width: 400px;
    height: 215px;
  }
}

@media (max-width: 576px) {
  iframe {
    width: 100%;
    height: auto;
  }
}

main .standarts_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

@media (max-width: 1300px) {
  main .standarts_top {
    margin-left: 60px;
  }
}

@media (max-width: 1000px) {
  main .standarts_top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 910px) {
  main .standarts_top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  main .standarts_top {
    margin-left: 0;
    margin-bottom: 45px;
  }
}

@media (max-width: 910px) {
  main .standarts_video {
    width: 100%;
    text-align: center;
  }
}

main .standarts_top-title {
  font-weight: 700;
  font-size: 59px;
  width: 49%;
  line-height: 1.1;
}

@media (max-width: 1700px) {
  main .standarts_top-title {
    font-size: 54px;
  }
}

@media (max-width: 1500px) {
  main .standarts_top-title {
    font-size: 45px;
  }
}

@media (max-width: 1300px) {
  main .standarts_top-title {
    font-size: 25px;
    width: 36%;
  }
}

@media (max-width: 910px) {
  main .standarts_top-title {
    margin-bottom: 45px;
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  main .standarts_top-title {
    width: 100%;
    text-align: center;
  }
}

main .standarts_top-title p:last-child {
  text-align: right;
}

@media (max-width: 700px) {
  main .standarts_top-title p:last-child {
    text-align: inherit;
  }
}

main .standarts_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

@media (max-width: 576px) {
  main .standarts_bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .standarts_bottom-block {
  width: 43%;
}

@media (max-width: 1300px) {
  main .standarts_bottom-block {
    width: 45%;
  }
}

@media (max-width: 576px) {
  main .standarts_bottom-block {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

main .standarts_bottom-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  main .standarts_bottom-title {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  main .standarts_bottom-title {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

main .standarts_bottom-text {
  font-weight: 700;
  font-size: 28px;
  color: #395382;
  line-height: 1.2;
}

@media (max-width: 1000px) {
  main .standarts_bottom-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  main .standarts_bottom-text {
    font-size: 16px;
  }
}

main .standarts_bottom-text .standarts_bottom-text_item {
  margin-bottom: 15px;
  position: relative;
}

main .standarts_bottom-text .standarts_bottom-text_item::before {
  content: "";
  position: absolute;
  background-color: #395382;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -5%;
  top: 25%;
}

main .standarts_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 90px;
}

main .standarts_download-title {
  font-weight: 300;
  font-size: 49px;
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 1300px) {
  main .standarts_download-title {
    font-size: 40px;
  }
}

@media (max-width: 1000px) {
  main .standarts_download-title {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  main .standarts_download-title {
    font-size: 25px;
  }
}

main .standarts_download-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main .standarts_download-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  main .standarts_download-link {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}

main .standarts_mainblock {
  margin-bottom: 90px;
}

main .standarts_mainblock-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 90px;
  text-align: center;
}

main .standarts_mainblock-column_block {
  font-weight: 700;
  margin-bottom: 45px;
}

main .standarts_mainblock-column_block-title {
  color: #395382;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 28px;
}

@media (max-width: 1000px) {
  main .standarts_mainblock-column_block-title {
    font-size: 24px;
  }
}

main .standarts_mainblock-column_block-text {
  width: 723px;
  background-color: #395382;
  color: white;
  padding: 25px 25px 50px 25px;
  font-size: 28px;
  border-radius: 5% 0 5% 0px;
  line-height: 1.2;
}

@media (max-width: 1500px) {
  main .standarts_mainblock-column_block-text {
    width: 600px;
  }
}

@media (max-width: 1300px) {
  main .standarts_mainblock-column_block-text {
    width: 450px;
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  main .standarts_mainblock-column_block-text {
    width: 350px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  main .standarts_mainblock-column_block-text {
    padding: 15px 15px 25px 15px;
    font-size: 13px;
    width: 250px;
  }
}

main .standarts_callback {
  margin-bottom: 90px;
  width: 700px;
  margin: 0 auto;
}

main .standarts_callback-btn {
  background-color: #395382;
  padding: 30px 100px;
  border-radius: 7% 0 7% 0px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  main .standarts_callback-btn {
    width: 400px;
  }
}

@media (max-width: 576px) {
  main .standarts_callback-btn {
    width: 50%;
  }
}

main .standarts_callback-btn a {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
}

@media (max-width: 1000px) {
  main .standarts_callback-btn a {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  main .standarts_callback-btn a {
    font-size: 17px;
    text-align: center;
  }
}

main .standarts_callback-text {
  font-weight: 700;
  font-size: 28px;
  color: #395382;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  main .standarts_callback-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  main .standarts_callback-text {
    font-size: 17px;
  }
}

.footer {
  background-color: #395382;
  padding: 30px 0;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  .footer_content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer_block {
  width: 22%;
}

@media (max-width: 320px) {
  .footer_block {
    width: 100%;
    margin-bottom: 50px;
  }
}

.footer_block-text {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  text-align: center;
}

@media (max-width: 1300px) {
  .footer_block-text {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .footer_block-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .footer_block-text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer_block-text {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .footer_block-text {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.footer_block:first-child p {
  color: #000;
  margin-top: 35px;
}

.footer .notation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 320px) {
  .footer .notation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .notation .year {
  font-weight: 300;
  font-size: 28px;
  margin-left: 8%;
}

@media (max-width: 1300px) {
  .footer .notation .year {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .footer .notation .year {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .footer .notation .year {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer .notation .year {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .footer .notation .year {
    font-size: 18px;
    margin-left: 0;
  }
}

.footer .notation .supp {
  font-weight: 300;
  font-size: 28px;
  margin-right: 5%;
}

@media (max-width: 1300px) {
  .footer .notation .supp {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .footer .notation .supp {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .footer .notation .supp {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer .notation .supp {
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .footer .notation .supp {
    font-size: 18px;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.standarts_mainblock-content {
  position: relative;
}

.standarts_mainblock-content .slick-arrow {
  position: absolute;
  bottom: -5%;
  font-size: 0;
  width: 50px;
  height: 30px;
  z-index: 10;
}

.slick-prev {
  left: 0;
  background: url("../images/right-arrow.svg") 0 0 no-repeat;
}

.slick-next {
  right: 0;
  background: url("../images/right-arrow.svg") 0 0 no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
